<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
    <typeAlias type="db.mysql.today.MyCarDto" alias="CarDto"/>
    <typeAlias type="db.mysql.today.CarMemberDto" alias="CarMemDto"/>
    <typeAlias type="db.mysql.upload.HoewonDto" alias="hdto"/>
    <typeAlias type="db.market.ipgo.MarketDto" alias="mdto"/>
   </typeAliases>
</configuration>